@font-face {
    font-family: 'Quicksand';
    src: url('./Quicksand-Regular.ttf');
}
a {
    text-decoration: none;
}
body {
    background-color: black;
    color: #ddd;
    font-family: 'Quicksand';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    color: #ddd;
    font-size: 3rem;
    transition: 75ms ease-in;
    margin: auto;
}

.projects {
    /* generate a 3x4 grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
}