---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome">
	<main class="flex h-screen justify-center bg-black">
		<h1 class="hover:text-white duration-75 text-[#ddd] font-bold text-7xl">Coming soon</h1>
	</main>
</Layout>